/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

nav {
    display: flex;
    background-color: rgb(68, 71, 250);
    justify-content: space-around;
    /* padding: 20px 0; atas bawah 20  kiri kanan 0 */
    /* atur padding dengan flex */
    height: 45px;
    align-items: center;
    color: whitesmoke;
  }
  nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    transition: all 0.4s;
  }
  nav .logo {
    font-family: "Firefox", cursive;
    letter-spacing: 3px; /*space antar char*/
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
  }
  
  nav ul li a:hover {
    color: teal;
  }
    /* hamburger menu */
    .menu-toggle{
      display: none; 
      flex-direction: column;
      height: 17px;
      justify-content: space-between;
      position: relative;
   }
   .menu-toggle input{
       position: absolute;
       top:-5px;
       left:-3px;
       width:21px;
       height: 21px;
       opacity: 0;
       cursor: pointer;
       z-index: 2;
   }
   .menu-toggle span{
       display: block;
       width: 21px;
       height: 2px;
       background-color: whitesmoke;
       border-radius: 3px;
       transition: all 0.7s;
   }
  
     /*x on hamburger menu*/
     .menu-toggle span:nth-child(2){
      transform-origin: left center;
    }
    
    .menu-toggle span:nth-child(4){
      transform-origin: left center;
    }
    
    .menu-toggle input:checked ~ span:nth-child(2){
      transform: rotate(45deg) ;
    }
    
    .menu-toggle input:checked ~ span:nth-child(4){
      transform: rotate(-45deg) ;
    }
    /* invis span ke 2 / child ke 3 */
    .menu-toggle input:checked ~ span:nth-child(3){
      width: 0%;
      opacity: 0;
      transition: .1s
    }

.container {
    display: flex;
    height: 100vh;
    text-align:justify;
}

.box {
    flex: 1;
    padding: 20px;
}

.box.flextwo {
    flex: 2;
}

.foto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foto img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

footer {
  text-align: center;
}
.slide-in {
  transform: translateX(-100%);
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}
.logo img {
  width: 40px; /* Atur lebar sesuai kebutuhan */
  height: auto; /* Biarkan tinggi mengikuti rasio aspek asli */
  margin-right: 10px; /* Atur margin sesuai kebutuhan */
}